@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=PT+Serif:wght@400;700&family=Poppins:wght@400;600&display=swap');

:root {
    background-color: #FAFAFA;
    color: #333333;
}

.font-sans {
    font-family: "Poppins", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.font-serif {
    font-family: "PT Serif", Georgia, Cambria, "Times New Roman", Times, serif;;
}

footer {
    font-family: "Montserrat", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 600;
}

img {
    width: 100%;
    height: auto;
}

.container {
    padding: 1rem;
    width: 100%;
    margin: 0 auto;
}

.top {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.top header h1 {
    letter-spacing: -0.1rem;
    margin: 0rem;
}

.top header {
    margin-bottom: 1rem;
}

.top aside {
    line-height: 1.7rem;
    font-size: 0.9rem;
    width: 360px;
}

.top aside h2 {
    text-transform: uppercase;
    font-size: 1.2rem;
}

.content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
    margin-bottom: 4rem;
}

.content .member:nth-child(1n) {
    grid-column: 1;
}

.content .member:nth-child(2n) {
    grid-column: 2;
}

.container .member {
    display: grid;
    grid-template-columns: auto, 1rem;
    grid-column-gap: 0.5rem;
    grid-template-rows: repeat(2, auto);
}

.content .member img {
    grid-column: 1;
    grid-row: 1;
}

.content .member span {
    writing-mode: vertical-rl;
    text-transform: uppercase;
    font-size: 0.7rem;
    grid-column: 2;
    grid-row: 1;
}

.content .member p {
    font-weight: 600;
    grid-row: 2;
}

footer {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    color: #A9A9A9;
    font-weight: 500;
    font-size: 0.9rem;
}

footer a {
    color: #A9A9A9;
    font-weight: 500;
}


@media (min-width: 1024px) {
    .container {
        width: 1024px;
        margin: 0 auto;
        margin-top: 4rem;
    }

    .top {
        flex-direction: row;
        margin-bottom: 4rem;
    }

    .top aside {
         justify-self: self-end;
    }

    .content {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-gap: 5rem;
        margin-bottom: 6rem;
    }

    .content .member:nth-child(3n) {
        grid-column: 3;
    }

    .content .member:nth-child(4n) {
        grid-column: 1;
    }

    .content .member:nth-child(5n) {
        grid-column: 2;
    }
}