@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=PT+Serif:wght@400;700&family=Poppins:wght@400;600&display=swap');

:root {
    background-color: #FFFFFF;
    color: #333333;
}

.font-sans {
    font-family: "Poppins", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.font-serif {
    font-family: "PT Serif", Georgia, Cambria, "Times New Roman", Times, serif;;
}

footer {
    font-family: "Montserrat", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 600;
}

img {
    width: 100%;
    height: auto;
}

.container {
    padding: 1rem;
    width: 100%;
    margin: 0 auto;
}

.content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
}

.content .member:nth-child(1n) {
    grid-column: 1;
}

.content .member:nth-child(2n) {
    margin-top: 3rem;
    grid-column: 2;
}

@media (min-width: 1024px) {
    .container {
        width: 1024px;
    }

    .content {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    .content .member:nth-child(3n) {
        grid-column: 3;
        grid-row: 1;
    }

    .content .member:nth-child(3n+2) {
        grid-row: 2;
    }

    .content .member:last-child {
        margin-top: 0 !important;
        grid-row: 2;
    }
}