@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=PT+Serif:wght@400;700&family=Poppins:wght@400;600&display=swap');

:root {
    background-color: #FAFAFA;
    color: #333333;
}

.font-sans {
    font-family: "Poppins", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.font-serif {
    font-family: "PT Serif", Georgia, Cambria, "Times New Roman", Times, serif;;
}

footer {
    font-family: "Montserrat", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 600;
}

img {
    width: 100%;
    height: auto;
}

.container {
    padding: 1rem;
    width: 100%;
    margin: 0 auto;
}

.top {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.top header h1 {
    letter-spacing: -0.1rem;
    margin: 0rem;
}

.top header {
    margin-bottom: 1rem;
}

.top aside {
    line-height: 1.7rem;
    font-size: 0.9rem;
    width: 360px;
}

.top aside h2 {
    text-transform: uppercase;
    font-size: 1.2rem;
}

.content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    grid-row-gap: 0rem;
    margin-bottom: 4rem;
}

.container .member {
    display: grid;
    grid-template-columns: auto, 1rem;
    grid-column-gap: 0.5rem;
    grid-template-rows: repeat(2, auto);
}

.content .member-card {
    translate: ease 0.4s;
    cursor: pointer;
    color: #333333;
    text-decoration: none;
}

.content .member-card:focus {
    outline: none;
}

.content .member-card:nth-child(1n) {
    grid-column: 1;
}

.content .member-card:nth-child(2n) {
    margin-top: 3rem;
    grid-column: 2;
}

.content .member-card:nth-child(1n):focus p,
.content .member-card:nth-child(1n):hover p {
    border-color: #E40066;
}

.content .member-card:nth-child(2n):focus p,
.content .member-card:nth-child(2n):hover p {
    border-color: #03CEA4;
}

.content .member-card:nth-child(3n):focus p,
.content .member-card:nth-child(3n):hover p {
    border-color: #345995;
}

.content .member-card .avatar {
    position: relative;
}

.content .member-card .avatar::before {
    translate: ease 0.4s;
}

.content .member-card .avatar img {
    translate: ease 0.4s;
    grid-column: 1;
    grid-row: 1;
    float: left;
}

.content .member-card:hover .avatar::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.1);
}

.content .member span {
    writing-mode: vertical-rl;
    text-transform: uppercase;
    font-size: 0.7rem;
    grid-column: 2;
    grid-row: 1;
}

.content .member p {
    font-size: 0.9rem;
    font-weight: 600;
    padding-bottom: 0.7rem;
    border-bottom: 4px solid #FAFAFA;
    transition: border .5s;
}

footer {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    color: #A9A9A9;
    font-weight: 500;
    font-size: 0.9rem;
}

footer a {
    color: #A9A9A9;
    font-weight: 500;
}


@media (min-width: 1024px) {
    .container {
        width: 1024px;
        margin: 0 auto;
        margin-top: 4rem;
    }

    .top {
        flex-direction: row;
        margin-bottom: 4rem;
    }

    .top aside {
         justify-self: self-end;
    }

    .content {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-gap: 5rem;
        grid-row-gap: 2rem;
        margin-bottom: 6rem;
    }

    .content .member-card {
        transition: ease 0.3s;
    }

    .content .member-card:hover {
        transform: scale(1.05);
    }

    .content .member-card:nth-child(2n) {
        margin-top: 4rem;
    }

    .content .member-card:nth-child(3n) {
        margin-top: 0rem;
        grid-column: 3;
    }

    .content .member-card:nth-child(4n) {
        margin-top: 0rem;
        grid-column: 1;
    }

    .content .member-card:nth-child(5n) {
        margin-top: 4rem;
        grid-column: 2;
    }

    .content .member p {
        font-size: 1.2rem;
    }

    .content .member span {
        font-size: 0.8rem;
    }
}